.aspect-ratio-card-box {
  height: 0;
  overflow: hidden;
  padding-bottom: 166.66666666666666%;
  position: relative;
}

.tile {
  height: 0;
  overflow: hidden;
  padding-bottom: 25%;
  background-color: bisque;
}

.card {
  top: 0;
  left: 0;
  height: 55vh;
  width: calc(55vh * .65);
  background-color: #333;
  background-image: url('https://i.redditmedia.com/K9kivj_rV2oh2kNl9oFy99GpFrSt6H5U0lf49N6UUKk.jpg?s=2779a7c83ada3272175e25267f8cc936');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  -webkit-transition: all 100ms ease;
  -moz-transition: all 100ms ease;
  -o-transition: all 100ms ease;
  transition: all 100ms ease;
  cursor: pointer;
  border-radius: 5px;
  border: 0.85vh solid #FFFACD;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.card-details {
  top: 75%;
  position: sticky;
  margin-bottom: 2%;
}

.card-name {
  margin: 2%;
  background: #000c;
  border: 0.4vh ridge #f90;
  color: #f90;
  border-top-left-radius: 1vh;
}

.card-title {
  font-family: 'Fondamento', cursive;
  font-size: 2.1vh;
  background: none;
  padding: 1vh;
}

.card-stats {
  position: absolute;
  padding: 1vh;
  font-size: 2vh;
  background: #000000b3;
  font-family: 'Fondamento', cursive;
  font-weight: bold;
  margin: 1vh;
  border-radius: 0 1vh 1vh 1vh;
}

.card-drop {
  font-size:4vh;
  margin: 1vh;
  font-family: 'Fondamento', cursive;
  color: black;
  font-weight: bold;
  text-align: right;
  text-shadow: 1px 1px 0 #fff, -1px -1px 0 #fff, 1px -1px 0 #fff,
  -1px 1px 0 #fff, 3px 3px 5px #333;
}

.card-actions {
  color: #333;
  text-align: left;
  font-size: 1.5vh;
  position: relative;
  font-family: serif;
  background: #FFFACD;
  width: 96%;
  margin-left: 2%;
  padding: 1em;
}

.card-flavor {
  font-style: italic;
  font-size: 85%;
  color: #777;
}

.attack {
  color: #ff0075;
}

.attack::before {
  color: #ff0075;
  text-shadow: 0px 0px 1vh black;  
}

.defense {
  color: #00b7ff;
}

.defense::before {
  color: #00b7ff;
  text-shadow: 0px 0px 1vh black;  
}

.vp {
  color: #00ff6a;
}

.vp::before {
  color: #00ff6a;
  text-shadow: 0px 0px 1vh black;  
}